<!-- 
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid  d-flex justify-content-between align-items-center">
      <a class="navbar-brand" href="#"><mat-icon>local_hospital</mat-icon>Hospital Appointment</a>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav me-auto d-flex align-items-center">
          <button mat-raised-button aria-current="page" href="#">Home</button>
          <button mat-raised-button aria-current="page" [routerLink]="['/doctors']">Doctors</button>
          <button mat-raised-button aria-current="page"[routerLink]="['/patients']">Patients</button>
          <button mat-raised-button aria-current="page" href="#">About Us</button>
        </div>
        <div class="d-flex ml-auto">
            <button mat-raised-button [routerLink]="['/login']">Log in</button>
            <button mat-raised-button [routerLink]="['/register']">Sign up</button>
        </div>
      </div>
    </div>
  </nav> -->

  <router-outlet></router-outlet>
