<div class="navigation">
  <div>
      <a><mat-icon>local_hospital</mat-icon>Hospital Appointment</a>
  </div>
  <button mat-raised-button aria-current="page" href="#">Home</button>
  <button mat-raised-button aria-current="page" [routerLink]="['/doctors']">Doctors</button>
  <button mat-raised-button aria-current="page"[routerLink]="['/patients']">Patients</button>
  <button mat-raised-button aria-current="page" href="#">About Us</button>
  <div class="navbutton">
      <button mat-raised-button [routerLink]="['/login']">Log in</button>
      <button mat-raised-button [routerLink]="['/register']">Sign up</button>
  </div>
</div>

<div class="container">
      <form class="mat-elevation-z7" style="background-color: rgb(208, 204, 240);" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Username : </label>
          <input formControlName="userName" placeholder="Username" class="form-control">
          <div *ngIf="loginForm.controls['userName'].invalid && (loginForm.controls['userName'].dirty || loginForm.controls['userName'].touched)">
            <p *ngIf="loginForm.controls['userName'].errors?.['required']">username is required</p>
          </div>
        </div>
  
        <div class="form-group">
          <label>Password : </label>
          <input type="password" formControlName="password" placeholder="Password" class="form-control">
          <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
            <p *ngIf="loginForm.controls['password'].errors?.['required']">password is required</p>
          </div>
        </div>
        <div class="form-group">
        <button mat-raised-button color="primary" type="submit" style=" margin-top: 5px; margin-left: 70px;">Login</button>
        <button mat-raised-button type="button" style=" margin-top: 5px; margin-left: 70px;">Forget Password</button>
        <!-- <button mat-raised-button [routerLink]="['/register']" type="button">Create Account</button> -->
        </div>
    </form>
 </div>
  
