<!-- style="background-color: rgb(243, 241, 241);" -->

<div class="container">
   <form class="mat-elevation-z7" style="background-color: rgb(208, 204, 240);" [formGroup]="userForm" (ngSubmit)="saveUser()">
        <div class="form-group">
            <label for="firstName" class="form-label">FirstName : </label>
            <input type="text" formControlName="firstName"  class="form-control">
            <div *ngIf="userForm.controls['firstName'].invalid && (userForm.controls['firstName'].dirty || userForm.controls['firstName'].touched)">
                <p *ngIf="userForm.controls['firstName'].errors?.['required']">first name is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="form-label">LastName : </label>
            <input type="text" formControlName="lastName" class="form-control">
            <div *ngIf="userForm.controls['lastName'].invalid && (userForm.controls['lastName'].dirty || userForm.controls['lastName'].touched)">
                <p *ngIf="userForm.controls['lastName'].errors?.['required']">last name is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="userName" class="form-label">Username : </label>
            <input type="text" formControlName="userName" class="form-control">
            <div *ngIf="userForm.controls['userName'].invalid && (userForm.controls['userName'].dirty || userForm.controls['userName'].touched)">
                <p *ngIf="userForm.controls['userName'].errors?.['required']">username is required</p>
                <p *ngIf="userForm.controls['userName'].errors?.['minlength']">username should be more than 8 character</p>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Email : </label>
            <input type="email" formControlName="email" class="form-control">
            <div *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">
                <p *ngIf="userForm.controls['email'].errors?.['required']">email is required</p>
                <p *ngIf="userForm.controls['email'].errors?.['email']">email should be proper</p>
            </div>
        </div>
        <div class="form-group ">
            <label for="contact" class="form-label">Contact : </label>
            <input type="text" formControlName="contact" class="form-control">
            <div *ngIf="userForm.controls['contact'].invalid && (userForm.controls['contact'].dirty || userForm.controls['contact'].touched)">
                <p *ngIf="userForm.controls['contact'].errors?.['required']">contact is required</p>
                <p *ngIf="userForm.controls['contact'].errors?.['minlength']">contact should be more than 10 character</p>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password : </label>
            <input type="password" formControlName="password" class="form-control">
            <div *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].dirty || userForm.controls['password'].touched)">
                <p *ngIf="userForm.controls['password'].errors?.['required']">password is required</p>
                <p *ngIf="userForm.controls['password'].errors?.['pattern']">Password should contain 1 special character and 1 number should be more than 8 character</p>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="form-label">Confirm Password : </label>
            <input type="password" formControlName="confirmPassword" class="form-control">
            <div *ngIf="userForm.controls['confirmPassword'].invalid && (userForm.controls['confirmPassword'].dirty || userForm.controls['confirmPassword'].touched)">
                <p *ngIf="userForm.controls['confirmPassword'].errors?.['required']">confirm password is required</p>
                <p *ngIf="userForm.controls['confirmPassword'].errors?.['mismatch']">Password should be match</p>
            </div>
        </div>
        <div class="form-group">
            <label for="userrole">userrole : </label>
            <mat-radio-group formControlName="userrole" (change)="onSelectRole($event.value)">
                <mat-radio-button *ngFor="let role of userRoles" [value]="role.userrole" class="radio">
                  {{ role.userrole }}
                </mat-radio-button>
              </mat-radio-group>
              <div *ngIf="userForm.controls['userrole'].invalid && (userForm.controls['userrole'].dirty || userForm.controls['userrole'].touched)">
                <p *ngIf="userForm.controls['userrole'].errors?.['required']">User role is required</p>
              </div>
        </div>
        <div *ngIf="showSpecilist" class="form-group">
            <label for="SelectSpecialities" class="form-label">Select Specialities : </label>
            <mat-form-field appearance="fill">
                <mat-label>Select Specialities</mat-label>
                <mat-select [formControl]="selectedSpecialitiesControl" multiple>
                  <mat-option *ngFor="let speciality of specilities" [value]="speciality">
                    {{ speciality.specialtyName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="form-group mb-3">
            <button type="submit" mat-raised-button color="primary">Register</button>
            <button type="reset" mat-raised-button color="warn" (click)="hideSpecilist()">Reset</button>
        </div>
   </form>
</div>
